<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jcfy.xkt">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:name=".MyApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".SplashActivity">
        </activity>
        <activity android:name=".ui.activity.LoginActivity">
        </activity>
        <activity android:name=".ui.activity.RegisterActivity"/>
        <activity android:name=".ui.activity.BindPhoneActivity"/>

        <!-- 考试结果 -->
        <activity android:name=".ui.activity.ExaminationResultActivity"/>

        <!-- 基本信息 -->
        <activity android:name=".ui.activity.BasicInformationActivity"/>

        <!-- 消息中心 -->
        <activity android:name=".ui.activity.MessageCenterActivity"/>

        <!-- 设置 -->
        <activity android:name=".ui.activity.SettingActivity"/>

        <!-- 充值记录 -->
        <activity android:name=".ui.activity.RechargeRecordActivity"/>

        <!-- 资讯列表 -->
        <activity android:name=".ui.activity.InformationActivity"/>

        <!-- 资讯详情 -->
        <activity android:name=".ui.activity.InformationDetailActivity"/>

        <!-- 充值中心 -->
        <activity android:name=".ui.activity.RechargeCenterActivity"/>

        <!-- 练习 -->
        <activity android:name=".ui.activity.ExerciseActivity"/>

        <!-- 考试 -->
        <activity android:name=".ui.activity.ExaminationActivity"/>

        <!-- 章节练习 -->
        <activity android:name=".ui.activity.ChapterExerciseActivity"/>

        <!-- 进度 -->
        <activity android:name=".ui.activity.mine.ScheduleActivity"/>


    </application>

</manifest>